<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Sistema de Hotel
  link(rel="stylesheet", href="estilo.css")
body
  header
    figure
      img(src="", alt="")
    h1 Hotel Berenjena
  h2 Sistema de Habitaciones
  section
    div.rooms
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 101
        div
          p Status:
          p.status Libre
        div.cambioStatus
          select
            option(value="1") Libre
            option(value='2') Ocupada
            option(value='3') Limpieza
            option(value='4') Mantenimiento
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 102
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 103
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 104
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 105
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 106
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 107
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 108
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 109
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 1010
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 1011
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 1012
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 1013
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 1014
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 1015
        div
          p Status:
          p.status Libre
      article
        div.habitacion
          p
        div
          p No. Habitacion
          p 1016
        div
          p Status:
          p.status Libre
    div
    div.statusRooms
      div(class="libres")
        p Libres
        p
      div.Ocupadas
        p Ocupadas
        p
      div.limpieza
        p Limpieza
        p
      div.mantenimiento
        p Mantenimiento
        p  
  
